# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/build

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*

# local env
.env
.env*.local

# editor
/.idea/*
!/.idea/runConfigurations
.vercel
